/* latin */
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/robotoslab/v16/BngbUXZYTXPIvIBgJJSb6s3BzlRRfKOFbvjojISmb2Rj.woff2) format('woff2');
    unicode-range: U+0000-FFFF;
}
/* latin */
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/rubik/v14/iJWZBXyIfDnIV5PNhY1KTN7Z-Yh-WYiFV0U1.woff2) format('woff2');
    unicode-range: U+0000-FFFF;
}
/* latin */
@font-face {
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/rubik/v14/iJWZBXyIfDnIV5PNhY1KTN7Z-Yh-B4iFV0U1.woff2) format('woff2');
	unicode-range: U+0000-FFFF;
}

html {
	background: white;
	color: black;
	text-align: center;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto Slab', 'Roboto', sans-serif;
}

#progress {
	background: black;
	color: white;
	padding-top: 40px;
}

#question {    
	padding: 0 20px 50px;
	font-size: 32px;
	background: black;
	color: white;
}

#question .highlight {
	font-weight: bold;
}

#answers {
	margin: 0 auto;
	background: white;
	padding: 40px 0;
}

.answer {
	margin: 10px;
	border: 5px solid black;
	height: 100px;
	width: 100px;
	border-radius: 1000px;
	display: inline-block;
	cursor: default;
	vertical-align: middle;
	line-height: 90px;
	font-size: 75px;
}

.answersMini {
	margin: 0 3px;
	border: 3px solid black;
	height: 40px;
	width: 40px;
	border-radius: 1000px;
	display: inline-block;
	cursor: default;
	vertical-align: middle;
	line-height: 36px;
	font-size: 28px;
}

.enabled {
	cursor: pointer;
}

.answer.enabled:hover {
	border: 5px dotted black;
}

#info {    
	display: flex;
	padding: 5px 10px;
	margin: 0;
}

#info div {
	flex-grow: 1;
}

#info #set {
	text-align: left;
	border-bottom: 5px solid white;
}

#info #about {
	text-align: right;        
	border-bottom: 5px solid white;
}

a {
	color: black;
	text-decoration: none;
	border-bottom: 2px dotted black;
}

a:hover {
	border-bottom: 2px solid black;
}

#nextLevel,
#showResults,
#copyResultsMobile,
#copyResultsAsText,
#copyResultsAsImage,
#saveCookie {
	border-radius: 10px;
	background: black;
	color: white;
	font-size: 32px;
	cursor: pointer;
	padding: 10px 20px;
	display: inline-block;
}

#saveCookie {
	font-size: 21px;
	margin-bottom: 10px;
}

#saveCookie span {
	font-size: 16px;
}

#copyResultsMobile,
#copyResultsAsText,
#copyResultsAsImage {
	font-size: 24px;
	margin-top: 5px;
}

#copyResultsMobile {
	display: none;
}

#finish,
#share,
#save {
	display: none;
}

#share {
	display: none;
	margin-top: 20px;
	clear: both;
}

#result {
	padding: 5px 0 15px;
	margin: 10px auto 0;
	width: auto;
	max-width: 90%;
	text-align: center;
	display: none;
	border: 5px solid black;
}

#result p {
	font-size: 20px;
	margin: 5px 0 0;
}

#result div {
	margin: 0 5px;
	padding: 0;
}

#extra {
	font-size: 24px;
	background: black;
	color: white;
	display: none;
	padding: 5px 0 8px !important;
}

@media (max-width: 800px) {

	#info {
		display: block;
	}

	#info #set,
	#info #about {
		display: block;
		text-align: center;
	}
	
	#info #about {
		display: none;
	}
	
	#question {
		padding: 0 20px 50px;	
	}
	
	#question,
	#copyResultsAsText,
	#copyResultsAsImage {
		font-size: 24px;
	}
	
	#question .highlight {
		display: block;
	}
	
	.answer {
		margin: 5px;
		border: 3px solid black;
		height: 60px;
		width: 60px;
		line-height: 52px;
		font-size: 50px;
	}
	
	.answer.enabled:hover {
		border: 3px dotted black;
	}	
	
	.mobileBreaker {
		clear: both;
	}
	
	#score span {
		font-size: 20px;
		margin: 0;
		line-height: 20px;
	}
	
	.answersMini {
		margin: 0 2px !important;
	}
	
	#copyResultsMobile {
		display: inline-block;
	}
	
	#copyResultsAsText,
	#copyResultsAsImage {
		display: none !important;
	}	
}